<div class="container create-survey-container">
  <div class="row">
    <div class = "col-md-12">
      <form>
        <div class="form-group">
          <mat-form-field class="d-block" required="true">
            <mat-label>Form name</mat-label>
            <input class="form-control" matInput placeholder="Enter form name">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="d-block">
            <mat-label>Form description</mat-label>
            <input class="form-control form-control-sm" matInput placeholder="Form description">
          </mat-form-field>
        </div>
        <app-survey-element></app-survey-element>
      </form>
    </div>
  </div>
</div>


